.root {
    display: flex;
    align-items: center;
}

.item {
    padding: 1rem;
    color: white;
}

.logo {
    font-family: "Lora";
    font-weight: 600;
    font-size: 2.5rem;
}

.bloodText {
    color: #C00;
}
