.root {
    color: white;
    padding: 1em;
}

.btnSignIn {
    background-color: #006fb2;
    border: 1px solid #00aeff;
    color: #fff;
    padding: 0.5em;
    font-size: 0.8em;

    display: flex;
    align-items: center;
}

.btnSignIn:hover {
    filter: brightness(120%);
    transition: 200ms;
}

.btnSignIn svg {
    padding-right: 5px;
}

.message {
    font-size: 0.8em;
    text-align: right;
}

.username {
    font-weight: 700;
}

.actions {
    display: flex;
    justify-content: right;

    color: #2FC6FF;
}

.action {
    cursor: pointer;
    margin-left: 1em;
    margin-top: 3px;
}

.action:hover {
    filter: brightness(150%);
}

.iconLabel {
    padding-left: 0.2em;
}