.root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 15vw) auto minmax(0, 15vw);
    grid-template-rows: auto minmax(50vh, 1fr) auto;
    grid-template-areas: "nav nav nav" ". content ." "footer footer footer";
}

.content {
    grid-area: content;
}

.header {
    grid-area: nav;
    min-height: 500px;
    background-image: url("./header_background.jpg");
    background-position: center;
    background-size: cover;
}

.footer {
    border-top: 3px solid #242837;
    grid-area: footer;
    min-height: 300px;
    background-image: url("./footer_background.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
}