@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&family=Lora:wght@600&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    min-height: 100vh;
    background-color: #0c1021;
    color: #f0f0f0;
}

em, i {
    font-weight: 300;
    font-style: italic;
}

strong, b, b i {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: inherit;
}
